{{#if flashMsg}}
    <p class='error'>Whoops! {{flashMsg}}</p>
{{/if}}
{{#if film}}
	<p>Here are the films you have logged.</p>
	{{#each film}}
		<div class='film'>
			<a href='/films/{{this._id}}'>
				<img src='{{this.poster}}'>
				<p>{{this.name}}</p>
				<p>Your rating: {{this.rating}}</p>
			</a>
		</div>
	{{/each}}
{{else}}
	<p>You haven't logged any films yet. Go <a href='/log'>log a film</a> to get
	started!</p>
{{/if}}
<!-- 

<div class='default'>
    <p>Cannot think of any films? Here are five popular options to help you get started. Select one you want to learn about and click the "See more!" button.</p>
    <form method='GET' action='/films'>
        <label>List of popular films:
            <select name='title'>
                {{#each films}}
                    <option value='{{this._id}}' name='title'>{{this.name}}</option>
                {{/each}}
            </select>
        </label><input type='submit' value='See more!'>
    </form>
</div>
 -->