<header>
    <h1><a href='/'>{{title}}</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/films">Logged films</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>

<div class='poster'>
    <a href='http://imdb.com/title/{{info.imdbID}}'><img src='{{info.poster}}'></a>
</div>
<div class='movie_info'>
    <h1>{{info.name}}</h1>
    <p>Plot: {{info.Plot}}</p>
    <p>Cast: {{info.Actors}}</p>
    <p>MPAA Rating: {{info.Rated}}</p>
    {{#if info.rating}}
        <p>Your rating: {{info.rating}} out of 5 stars</p>
    {{/if}}
</div>