<div class='poster'>
    <a href='http://imdb.com/title/{{info.imdbID}}'><img src='{{info.poster}}'></a>
</div>
<div class='movie_info'>
    <h1>{{info.name}}</h1>
    <p>Plot: {{info.Plot}}</p>
    <p>Cast: {{info.Actors}}</p>
    <p>MPAA Rating: {{info.Rated}}</p>
    {{#if info.rating}}
        <p>Your rating: {{info.rating}} out of 5 stars</p>
    {{/if}}
    <p><a href=/films/{{info._id}}/edit>Edit info</a></p>
    <p><a href=/films/{{info._id}}/delete>Delete</a></p>
</div>