{{#if flashMsg}}
    <p class='error'>Whoops! {{flashMsg}}</p>
{{/if}}
<div class='poster'>
    <a href='http://imdb.com/title/{{film.imdbId}}'><img src='{{film.poster}}'></a>
</div>
<div class='movie_info'>
    <h1>{{film.name}}</h1>
    <p>Plot: {{film.plot}}</p>
    <p>Cast: {{film.cast}}</p>
    <p>MPAA Rating: {{film.mpaa}}</p>
    {{#if film.rating}}
        <p>Your rating: {{film.rating}} out of 5 stars</p>
    {{/if}}
    <p><a href=/films/{{film._id}}/edit>Edit info</a></p>
    <p><a href=/films/{{film._id}}/delete>Delete</a></p>
</div>