<h1>{{title}}</h1>
<nav>
    <ul>
        <li><a href="/films">Logged films</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>


{{#if userfilms}}
	<p>You've LOGGED films. Here they are...</p>
	{{#each userfilms}}
		<p><a href='/films/{{@index}}'>{{this}}</a></p>
	{{/each}}
{{else}}
	<p>You haven't logged any films yet. Get started!</p>
	{{#each films}}
		<p><a href='/films/{{@index}}'>{{this}}</a></p>
	{{/each}}
{{/if}}

<p><label>List of popular films:
	<select name='title'>
		{{#each films}}
			<option value='{{this}}'>{{this}}</option>
		{{/each}}
	</select>
</label></p>
<p><input type='submit' value='See more!'></p>